body {
  margin: 0;
  padding: 0;
}

.draggable {
  position: absolute;
  display: inline-block;
  transition: transform 0.01s;

  transform: translate(-50%, -50%);
}

.draggable img {
  transform: scaleY(-1);
}
